{{ partial "header.html" . }}

{{ partial "navbar.html" . }}

<div class="content">
    {{ partial "hero.html" . }}

    <div class="inner-width">
        {{ block "main" . }}
        {{ end }}

        {{ partial "about.html" . }}

        {{ partial "projects.html" . }}

        {{ partial "facts.html" . }}

        {{ partial "faq.html" . }}
    </div>

    {{ partial "contact.html" . }}
</div>

{{ partial "copyright-modal.html" . }}

{{ partial "scrollTop.html" . }}
{{ partial "footer.html" . }}