<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <title>{{ .Site.Params.Title }}</title>
    <meta name="mobile-web-app-title" content="{{ .Site.Params.Title }}">
    <meta name="apple-mobile-web-app-title" content="{{ .Site.Params.Title }}">
    <link id="favicon" rel="icon" type="image/png" href="{{ .Site.Params.faviconPath | relURL }}">
    <link rel="icon" type="image/svg+xml" href="{{ .Site.Params.faviconPathSVG | relURL }}">
    <link rel="shortcut icon" type="image/png" href="{{ .Site.Params.faviconPath | relURL }}">
    <link rel="apple-touch-icon" href="{{ .Site.Params.faviconPath | relURL }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.Params.faviconPath | relURL }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.faviconPath | relURL }}">
    <link rel="apple-touch-icon" sizes="167x167" href="{{ .Site.Params.faviconPath | relURL }}">
    <link rel="canonical" href="{{ .Site.BaseURL }}">
    <script src='{{ "/akar-icons-fonts/src/index.js" | relURL }}' async></script>
    <script src='{{ "/main.js" | absURL }}' defer></script>
    <link rel="preload" href='{{ "/style.css" | absURL }}' as="style" />
    <link rel="stylesheet" type="text/css" href='{{ "/style.css" | absURL }}' media="screen"/>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="keywords" content='{{ delimit site.Params.keywords ", " }}'>
    <meta name="author" content="{{ .Site.Params.author }}">
    <meta name="robots" content="index">
    <meta http-equiv="expires" content="43200">

    <meta property="og:title" content="{{ .Site.Params.Title }}">
    <meta property="og:description" content="{{ .Site.Params.description }}">
    <meta property="og:type" content="{{ .Site.Params.pagetype }}" />
    <meta property="og:image" content="{{ .Site.Params.metadataCard | relURL }}">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:url" content="{{ .Site.BaseURL }}">
    <meta property="og:site_name" content="{{ .Site.Params.author }}">
    <meta property="twitter:title" content="{{ .Site.Params.Title }}">
    <meta property="twitter:description" content="{{ .Site.Params.description }}">
    <meta property="twitter:image" content="{{ .Site.Params.metadataCard | relURL }}">
    <meta name="twitter:image:alt" content="{{ .Site.Params.author }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="{{ .Site.Params.twitterUsername }}">
    <meta name="twitter:creator" content="{{ .Site.Params.twitterUsername }}">

    <meta name="theme-color" content="{{ .Site.Params.themeColor }}">
    <meta name="mobile-web-app-status-bar-style" content="{{ .Site.Params.themeColor }}">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{ .Site.Params.themeColor }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script defer src="{{ .Site.Params.umamiUrl }}" data-website-id="{{ .Site.Params.websiteId }}"></script> -->

</head>
<body>