<div class="hero">
    <h1>
        <span class="name-part">
            {{ with .Site.Home.Params.firstname }}
                {{ range split . "" }}
                    <span>{{ . }}</span>
                {{ end }}
            {{ end }}
        </span>
        <span class="name-part">
            {{ with .Site.Home.Params.lastname }}
                {{ range split . "" }}
                    <span>{{ . }}</span>
                {{ end }}
            {{ end }}
        </span>
    </h1>
    {{ with .Site.Home.Params.slogan }}
        <p>{{ . }}</p>
    {{ end }}
    <a href="#about" alt='{{ T "godown" }}' title='{{ T "godown" }}'><i class="ai-chevron-down"></i></a>
</div>