<div class="hero">
    <h1>
        <span class="name-part">
            <span>M</span>
            <span>i</span>
            <span>c</span>
            <span>h</span>
            <span>i</span>
            <span> </span>
        </span>
        <span class="name-part">
            <span>v</span>
            <span>o</span>
            <span>n</span>
            <span> </span>
            <span>A</span>
            <span>h</span>
        </span>
    </h1>
    <p>Informatiker, Tech-Enthusiast & Achterbahn-Fan</p>
    <a href="#about"><i class="ai-chevron-down"></i></a>
</div>