<div class="loadingscreen">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="760.5" height="760" viewBox="0 0 760.5 760" class="loader-logo">
        <defs>
          <clipPath id="clip-logo-bold-fixed">
            <rect width="760.5" height="760"/>
          </clipPath>
        </defs>
        <g id="logo-bold-fixed" clip-path="url(#clip-logo-bold-fixed)">
          <g id="Logo" transform="translate(-160 -160)">
            <g id="Border" transform="translate(160 160)">
              <rect width="760" height="760" stroke="none"/>
              <rect x="15" y="15" width="730" height="730" fill="none"/>
            </g>
            <line id="Horizontal" y2="736" transform="translate(540.5 170.5)"/>
            <line id="Vertical" x2="725" transform="translate(181.5 540.5)"/>
            <line id="Top-Left" x2="359" y2="358" transform="translate(181 182)"/>
            <line id="Top-Right" x1="359" y2="358" transform="translate(541.5 181.5)"/>
          </g>
        </g>
      </svg>  
</div>