<nav class=""> <!-- Class "small", "open" is possible -->
    <div class="inner-width">
        <a href="#" alt="Home"><img src='{{ "/assets/logo/logo_white.svg" | relURL }}' alt="Logo" title="Logo"></a>
        <div class="nav-links">
            <a href="#" alt="Home">Home</a>
            <a href="#about" alt="About">Über mich</a>
            <a href="#projects" alt="Projekte">Projekte</a>
            <a href="https://blog.michivonah.ch" alt="Blog">Blog</a>
            <a href="#contact" alt="Kontakt">Kontakt</a>
        </div>
        <div class="nav-toggle">
            <i class="ai-text-align-right"></i>
        </div>
    </div>
</nav>