<nav class=""> <!-- Class "small", "open" is possible -->
    <div class="inner-width">
        <a href="#" alt="Home"><img src='{{ "/assets/logo/logo_white.svg" | relURL }}' alt='{{ T "logo" }}' title='{{ T "logo" }}'></a>
        <div class="nav-links">
            <a href="#" alt='{{ T "home" }}'>{{ T "home" }}</a>
            <a href="#about" alt='{{ T "about" }}'>{{ T "about" }}</a>
            <a href="#projects" alt='{{ T "projects" }}'>{{ T "projects" }}</a>
            <a href="https://blog.michivonah.ch" alt='{{ T "blog" }}'>{{ T "blog" }}</a>
            <a href="#contact" alt='{{ T "contact" }}'>{{ T "contact" }}</a>
        </div>
        <div class="nav-toggle">
            <i class="ai-text-align-right"></i>
        </div>
    </div>
</nav>