<div id="projects" class="projects">
    <h1>Projekte</h1>
    <div class="tag-filter">
        {{ range .Site.Data.tags }}
        <div class="tag">
            <input class="tag-checkbox" id="tag-{{ .slug }}" value="{{ .slug }}" type="checkbox" {{ if .checked }} checked {{ end }}>
            <label class="tag-label" for="tag-{{ .slug }}" >{{ .title }}</label>
        </div>
        {{ end }}
    </div>

    <div class="project-list">
        <div class="project-card">
            <div class="card-first">
                <p></p>
            </div>
            <div class="card-second">
                <i class="ai-newspaper"></i>
                <h2>Mein Fazit: 1 Jahr mit dem Europa-Park ResortPass</h2>
                <p>14.01.2025</p>
            </div>
        </div>

        <div class="project-card">
            <div class="card-first">
                <p></p>
            </div>
            <div class="card-second">
                <i class="ai-newspaper"></i>
                <h2>Mein Fazit: 1 Jahr mit dem Europa-Park ResortPass</h2>
                <p>14.01.2025</p>
            </div>
        </div>

        <div class="project-card">
            <div class="card-first">
                <p></p>
            </div>
            <div class="card-second">
                <i class="ai-newspaper"></i>
                <h2>Mein Fazit: 1 Jahr mit dem Europa-Park ResortPass</h2>
                <p>14.01.2025</p>
            </div>
        </div>
    </div>
</div>